<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="overview/public :: #public_scholar_detail_head">
</head>

<body>

<!-- Topbar Start -->
<div class="navbar-custom topnav-navbar" th:replace="overview/public :: #public_topbar">
</div>
<!-- end Topbar -->


<div class="container-fluid">

    <!-- Begin page -->
    <div class="wrapper">

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <!-- Start Content-->

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu" th:replace="overview/public :: #public_left">
        </div>
        <!-- Left Sidebar End -->

        <div class="content-page">
            <div class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form th:action="@{/scholar-detail}" class="needs-validation" th:method="post" th:object="${scholarVo}">
                                    <div class="form-group mb-3">
                                        <label for="validationCustom01">学者 ID</label>
                                        <input type="text"
                                               class="form-control"
                                               id="validationCustom01"
                                               placeholder="学者 ID"
                                               th:value="*{scholarId}"
                                               name="scholarId"
                                               required>
                                        <div class="valid-feedback">
                                            请填写学者ID
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="validationCustom02">学者姓名（姓名用空格隔开，暂不支持中文）</label>
                                        <input type="text"
                                               class="form-control"
                                               id="validationCustom02"
                                               placeholder="学者姓名"
                                               th:value="*{scholarName}"
                                               name="scholarName"
                                               required>
                                        <div class="valid-feedback">
                                            请填写学者姓名
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="validationCustom03">学者国籍</label>
                                        <input type="text"
                                               class="form-control"
                                               id="validationCustom03"
                                               placeholder="学者国籍"
                                               th:value="*{scholarCountry}"
                                               name="scholarCountry"
                                               required>
                                        <div class="valid-feedback">
                                            请填写学者国籍
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <div class="custom-control custom-checkbox form-check">
                                            <input type="checkbox"
                                                   class="custom-control-input"
                                                   id="invalidCheck"
                                                   required>
                                            <label class="custom-control-label" for="invalidCheck">请再次确认是否保存</label>
                                            <div class="invalid-feedback">
                                                You must agree before submitting.
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="submit">保存学者信息</button>
                                </form>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div>
                <!-- end row-->
            </div> <!-- content -->

            <!-- Footer Start -->
            <footer class="footer" th:replace="overview/public :: #public_footer">
            </footer>
            <!-- end Footer -->
        </div> <!-- content-page -->

    </div>
</div>
<!-- END Container -->

<!-- App js -->
<script th:src="@{/js/app.min.js}"></script>
</body>

</html>